*		{
		margin:0;
		padding:0;
		}
body		{
		background: #808080;
		font-family: Verdana,sans-serif;
		font-size:10pt;
		}
#content p 	{text-align:justify; padding-bottom:.5em;}
a		{outline: none; color:black;}
.tabactive a {color:#202000;}
.menuitem a:hover {color:#A02000;}
.tabactive a:hover {color:#202000;}
img	{border: 0px;}
#payload-layout	{
  min-width:74.5em;
	margin: 1em auto;
}
#leftcolumn	{
	  position:relative;
	  width:20%;
		float:left;
		min-width:15em;
		background:#FEFEF9 url(../img/corner_tr.png) no-repeat scroll right top;
		margin:1em .5em 1em 1em;
}
#lefthead	{
	  height:12px;
		background:transparent url(../img/corner_tl.png) no-repeat scroll left top;
}
#lbfootl	{
	  position:absolute;
		left:-2px;
		bottom:0px;
	  height:12px;
		width:12px;
		background:transparent url(../img/corner_bl.png) no-repeat scroll right bottom;
}
#lbfootr	{
	  height:12px;
		background:transparent url(../img/corner_br.png) no-repeat scroll right bottom;
}
#main	{
	  position:relative;
		float:right;
    margin:1em 1em 1em .5em;
	  width:76%;
		min-width:54em;
		background:#FEFEF9 url(../img/corner_tr.png) no-repeat scroll right top;
		}
#toprow {
	margin: 0em auto;
  min-width:74em;
}
#logoright {
	position:absolute;
	top:7px;
	right:1em;
	width:158px;
	height:158px;
	background:transparent url(../img/lac2012bw.png) no-repeat top right;
}
#titlebar	{
	  position:relative;
		color: #ffffff;
		margin:0em;
		text-align: left;
		background:#606060 url(../img/karma_logo.png) no-repeat scroll left top;
		border-bottom: .8em solid #606060;
		}
#titlebar div   {padding-left: 45px;}
#maintitle	{
		font-size: 20pt;
    		}
#subtitle	{
		font-size: 12pt;
		font-weight: bold;
		margin-top: .8em;
    		}
#wherewhen	{
		font-weight: bold;
		margin-top: 1em;
    		}
#titleend {
	height:12px;
	width:100%;
  background:url(../img/blend6080.png) repeat-x left bottom;
 }
#mainmenu	{
		position:relative;
		overflow:hidden;
    width:63em;  /* 9em * 7entries */
		font-size: 14px;
		margin:1em auto 0px auto;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		}
#mainmenu a	{text-decoration:none;}
div.menuitem 	{
		float:left;
    width: 8em; height: 19px;
		text-align: center;
		padding: .75em .5em;
		margin:0;
		}
.tabactive	{
		background:transparent url(../img/dim60.png) repeat scroll 0 0;
	  font-weight: bold;
		}
.disclaimer	{
		color: #808080; 
		font-size:80%;
		margin:1em 0em 0em 0em;
		}
.mainheadl	{
		background:transparent url(../img/corner_tl.png) no-repeat scroll left top;
}
#mainfootl	{
	  position:absolute;
		left:-2px;
		bottom:0px;
	  height:12px;
		width:12px;
		background:transparent url(../img/corner_bl.png) no-repeat scroll right bottom;
}
#createdby	{
		background:#FFFFFF url(../img/corner_br.png) no-repeat scroll right bottom;
		color: #808080; 
		text-align:right;
		padding-right:2em;
		padding-bottom:.75em;
		font-size:80%;
		}
#footerwrap	{text-align:center; border:0px; margin:2em auto; font-size:75%;}

#content		{
			color: #001100;
			font-family: Georgia,Times,serif;
			font-size: 12pt;
			line-height: 16pt;
			padding:1.5em;
			border: 0;
			}
#supporterbar		{
			width:180px;
			padding:0px;
			margin: .5em auto .5em auto;
			text-align:center;
			overflow:hidden;
			} 
#supporterbar div		{
			margin-bottom:1em;
			font-size:75%;
			}
#content ul + h1, #content p + h1 { margin-top:1.0em; }
#content ul + h2, #content p + h2 { margin-top:1.0em; }
#content ul + h3, #content p + h3 { margin-top:1.0em; }

#content h1,
#content h2,
#content h3 		{
			font-style:italic;
			margin-top:0em;
			margin-bottom:0.5em;
			}
#content h1 		{ font-size: 160%; }
#content h2 		{ font-size: 140%; }
#content h3 		{ font-size: 120%; }
#content form   { width:41em; margin:0 auto;}
#content input.button {font-size:110%;}
/*#content input,  */
#content textarea 	{border: 1px solid black;}
#content ul 		{margin-left:1em; text-align:justify;}
#supporter a,
#supporterbar a		{text-decoration:none;}
#supporter th,
#supporter td		{text-align: center;}
#supporter td		{width:33%;overflow:hidden;padding-bottom:1em;}

#frank th,
#frank td		{text-align: justify; vertical-align:top;}
#frank td		{width:25%;overflow:hidden;padding:.5em .5em;}

#content a.standout	{font-weight: bold;}
#content span.standout	{font-weight: bold;}

#content legend 	{margin-left:1em;}
#content fieldset 	{padding-left:.5em; font-size:11pt; padding-bottom:.5em;}
#content label.la 	{font-style:italic;}
#content .error 	{color:#ff3333;}
#content .fx 		{display:none;}
#content div.wikilink 	{font-size:80%; margin-top:1em; text-align:right;}

fieldset legend 	{text-align:left;}
.fs 			{text-align:right; padding-right:1em;}
.fs input, .fs select, 
.fs label.la 		{margin:0px 0em 0em .5em; vertical-align:top;}
.fs label.ls 		{font-style:italic; font-size:80%; margin:0px 23em 0em .5em;}

.fa 			{text-align:right; padding-right:1em;}
.fa div.la 		{float:left; margin-left:.5em;}
.fa div.ra 		{}
.fa table 		{margin: 0px 0px 0px 120px;text-align:left;}
.fa td 			{padding-left: 10px;}
.fa td label input	{margin-right: 4px;}

.fm input               {width:202px;}

table.adminlist		{width:99%;}
.adminlist		{font-size:90%;}
.abstract 		{font-size:75%;text-align:justify;}
p.ptitle		{margin:0px 0px 2em 0px !important;}
h2.ptitle		{margin:1em 0px 2px 0px !important;}
h3.ptitle		{margin:1.0em 0px 0em 0px !important; text-align:center;}
div.ptitle		{margin:.1em 0px 1.0em 0px !important; text-align:center;}
hr.psep			{margin:.5em auto .5em auto; width:50%; color:#CCDDCC; background-color:#202020; border:0px; height:1px; clear:both;}
div.aimg		{margin:.25em .5em .25em 0px; float:left;}
a.active		{cursor:pointer; color:blue;}
#frank img	{cursor:pointer;}
td.active		{cursor:pointer;}
.pdb input,
.pdb textarea 		{width:98%;}
.pdb input.duration	{width:8em;}
.pdb label 		{font-style:italic; font-size:80%;}
.pdb input.smbutton 	{width:7em;}
.pdb input.button 	{width:49%;}
.pdb tr.alt 		{background-color:#C0C0C0;}
td.cancelled 		{text-decoration:line-through;}
span.cancelled 		{text-decoration:line-through; color:red;}
span.cancelled b,
span.cancelled span	{text-decoration:line-through; color:#001100;}
div.dbmsg  		{background-color:#CCAAAA;}
span.underline 		{text-decoration:underline;}
td.center,div.center	{text-align:center;}
div.huge {
  background: url(../img/button200.png) no-repeat scroll 0 0;
  font-size:20px;
  width:180px;
	height:40px;
  margin:0px auto;
	padding-top:7px;
}
div.huge a {text-decoration:none; color:#F0E0E0;}
div.huge a:hover {color:#F02020;}

table.ptb		{
			border-bottom:1px solid #000000;
			border-left:1px solid #000000;
			}
td.ptb, th.ptb		{
			padding:0px 2px 0px 2px;
			border-top:1px solid #000000;
			border-right:1px solid #000000;
                        vertical-align:top;
			}
div.right 		{text-align:right;}
.highlight 		{background-color:#a0a0a0;}
.red 			{color:#FF0000;}
.yellow 		{color:#AAAA00;}
.green 			{color:#11EE11;}
span.tme 		{color:#331111; border-bottom:1px dotted black;}
div.flright		{margin:0px 0px .25em .5em; float:right;}
div.righttr		{margin:.4em 0px 0em .5em; float:right; font-size:75%;line-height:110%; font-variant:small-caps;}

p.pix {font-size:90%;margin:.5em 0em; text-align:justify;}

ul.multicolumn { width:100%;}
ul.multicolumn li{
	float:left;
	width:33%;
}

#infoframe, #ieframe {
			width:100%;
			height:94%;
			border:0px;
}
#infobox {
			position:fixed;
			width:70%;
			min-width:600px;
			left:15%;
			height:400px;
			top:120px;
			background-color: #fefef9;
			color: #001100;
			overflow:hidden;
			z-index:300;
}
#dimmer	{
			position:fixed;
			width: 100%;
			height: 100%;
			left:0px;
			top:0px;
			background:transparent url(../img/dim.png) repeat scroll 0 0;
			z-index:100;
}

table.trl {
	width:80%;
	margin: .5em auto;
	table-layout:fixed;
	font-size:75%;
	line-height:120%;
	text-align:center;
	border-bottom:1px solid black;
	border-left:1px solid black
}
td.trX, td.tr0, td.tr1, td.tr2, td.tr3, td.tr4, td.tr5, td.tr6, td.tr7 {
	border-top:1px solid black;
	border-right:1px solid black;
}

.trX	{
	background:black; color:white; line-height:120%; font-weight:bold;
}
.tr0	{
	background:transparent url(../img/trans0.png) repeat scroll 0 0;
}
.tr1	{
	background:transparent url(../img/trans1.png) repeat scroll 0 0;
}
.tr2	{
	background:transparent url(../img/trans2.png) repeat scroll 0 0;
}
.tr3	{
	background:transparent url(../img/trans3.png) repeat scroll 0 0;
}
.tr4	{
	background:transparent url(../img/trans4.png) repeat scroll 0 0;
}
.tr5	{
	background:transparent url(../img/trans5.png) repeat scroll 0 0;
}
.tr6	{
	background:transparent url(../img/trans6.png) repeat scroll 0 0;
}
.tr7	{
	background:transparent url(../img/trans7.png) repeat scroll 0 0;
}
